.calendarCellContainer {
  border: 1px dashed var(--main-text);
}
.calendarCell {
  padding: 1px;
  aspect-ratio: 1 / 1;
}
.calendarCell:hover {
  background-color: var(--calendar-day-highlight);
}
.currentDate {
  color: var(--current-day);
}
.notCurrentMonth {
  opacity: 0.25;
  pointer-events: none;
}
.calenderCellClicked {
  background-color: lightblue;
}
