.calendarDate {
  position: absolute;
  top: 0;
  left: 2px;
}
.calendarDataContainer {
  padding-top: 16px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  gap: 2%;
}
.dayIcon {
  display: inline-block;
  width: 20%;
  height: auto;
}
